@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
}

img {
	height: 100%;
	width: 100%;
}

.left-wrapper {
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	flex: 1;
	flex-direction: column;

	background-image: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);
}

header {
	margin-top: 3rem;
	width: 30rem;
	align-self: center;
}

.text-wrapper {
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: center;
	/* width: 30rem; */
	max-width: 30rem;
	height: 100%;
	align-self: center;
	gap: 2rem;
	margin: 2rem;
}

.pink-title {
	font-size: 5rem;
	color: hsl(0, 36%, 70%);
	font-weight: 200;
}

h1 {
	font-size: 5rem;
	line-height: 1;
}

p {
	color: hsl(0, 36%, 70%);
	line-height: 1.7;
	font-size: 1.02rem;
}

form {
	position: relative;
}

input {
	/* position: absolute; */
	border: 1px solid hsl(0, 36%, 70%);
	padding: 1rem;
	border-radius: 99px;
	width: 100%;
}

input::placeholder {
	color: hsl(0, 36%, 70%);
	opacity: 1;
}
input::-ms-input-placeholder {
	color: hsl(0, 36%, 70%);
}

button {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	right: 0px;
	top: 0px;

	width: 7rem;
	height: 3.65rem;
	border-radius: 99px;

	background-image: linear-gradient(
		to right,
		hsl(0, 80%, 86%) 0%,
		hsl(0, 74%, 74%) 51%,
		hsl(0, 80%, 86%) 100%
	);

	transition: 0.5s;
	background-size: 200% auto;
}
/* these two + the :hover for the effect */

.error-icon {
	position: absolute;
	right: 130px;
	top: 18px;
	display: none;
}

button:hover {
	background-position: right center;
	scale: 1.1;
}

input:invalid ~ .error-icon {
	display: block;
}
input:invalid {
	border: 1px solid red;
}

.error-message {
	position: absolute;
	top: 70px;
	left: 20px;
	color: red;
}

.mobile-image {
	display: none;
}

@media (max-width: 375px) {
	.left-wrapper {
		background-image: linear-gradient(
			135deg,
			hsl(0, 0%, 100%),
			hsl(0, 100%, 98%)
		);
	}

	.right-wrapper {
		display: none;
	}

	.mobile-image {
		display: block;
		/* width: 375px; */
	}

	header {
		margin: 2rem;
	}

	.text-wrapper {
		text-align: center;
		padding: 5rem 3rem;
	}

	h1,
	.pink-title {
		font-size: 4rem;
	}

	p {
		font-size: 1.1rem;
	}
}
